body {
    margin-top: 4em;
}

.navbar-red {
    background-color: #006d22
}

#carouselNKRSI {
    background-color: gray;
}

.carousel-img {
    height: 15em;
    margin: auto;
    display: block;
}

.content {
    margin-top: 3em;
}

#map {
    height: 12em;
    width: 100%;
}

#carouselNKRSI {
    font-size: large;
    height: 15em;
}
