{% extends 'base.html' %}
{% load i18n l10n static crispy_forms_tags %}
{% block content %}
    <h3>{% trans 'User' %} {{ user.get_full_name }}</h3>
    <ul class="list-group list-group-flush">
        {% if user == request.user or request.user.is_staff %}
            <li class="list-group-item">{% trans 'Email' %}: {{ user.email }}</li>
        {% endif %}
        <li class="list-group-item">{% trans 'Name and surname' %}: {{ user.get_full_name }}</li>
        <li class="list-group-item"> {% trans 'GitHub username' %}: <a href="{{ user.get_user_github_link }}">{{ user.github_username }}</a></li>
        <li class="list-group-item">{% trans 'Phone number' %}: {{ user.phone }}</li>
        <li class="list-group-item">{% trans 'NKRSI join date' %}: {{ user.date_joined|localize }}</li>
        <li class="list-group-item">
            {% if user.function != "" %}
                {{ user.function }}
            {% else %}
                {% if user.is_staff %}
                    {% trans 'Staff member' %}
                {% elif user.is_candidate %}
                    {% trans 'Candidate member' %}
                {% else %}
                    {% trans 'Regular member' %}
                {% endif %}
            {% endif %}
        </li>
    </ul>
    {% if user == request.user %}
        <a class="btn btn-primary" role="button" aria-disabled="true"
           href="{% url 'user-edit' %}">{% trans 'Edit profile' %}</a>
    {% endif %}

{% endblock %}
